@keyframes Beonjjeok {
    from {color:black; font-size: 64px;}
    33% {color:blue; font-size:128px;}
    66% {color: red; font-size: 32px;}
    to {color:black; font-size: 64px;}
}

#h11 {
    animation-name: Beonjjeok;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}